[submodule "Stella.Launcher"]
	path = Stella.Launcher
	url = git@github.com:Genshin-Stella-Mod/Stella.Launcher.git
    branch = main

[submodule "Stella.Core"]
	path = Stella.Core
	url = git@github.com:Genshin-Stella-Mod/Stella.Core.git
	branch = main

[submodule "Stella.Prepare"]
    path = Stella.Prepare
    url = git@github.com:Genshin-Stella-Mod/Stella.Prepare.git
    branch = main

[submodule "Stella.StartupBeacon"]
	path = Stella.StartupBeacon
	url = git@github.com:Genshin-Stella-Mod/Stella.StartupBeacon.git
	branch = main

[submodule "Stella.Utils"]
	path = Stella.Utils
	url = git@github.com:Genshin-Stella-Mod/Stella.Utils.git
	branch = main

[submodule "Stella-Mod-DeviceIdentifier"]
	path = Stella.DeviceIdentifier
	url = git@github.com:Genshin-Stella-Mod/Stella.DeviceIdentifier.git
	branch = main

[submodule "Stella.Builder"]
	path = Stella.Builder
	url = git@github.com:Genshin-Stella-Mod/Stella.Builder.git
	branch = main

[submodule "Stella.Setup"]
	path = Stella.Setup
	url = git@github.com:Genshin-Stella-Mod/Stella.Setup.git
	branch = main
